{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- datatables.html  21 Nov 2019 03:55:21 GMT -->
<!-- Header Section -->
{% include "includes/head.html" %}
<!-- End Header Section -->

  <body class="dark dark-sidebar theme-black">
    <div class="loader dark"></div>


  
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>

           <!-- Nav Bar Section  -->
        {% include "includes/nav.html" %}
        <!-- End Nav Bar Section -->
        
        <!-- Side Bar Section -->
        {% include "includes/sidebar.html" %}        
        <!-- End Side Bar Section -->
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-6">
                <div class="card">
                  <div class="card-header">
                      <h4>Scan Case One</h4>
                  </div>
                    <div class="card-body">
                        <div class="row">
                        <div class="col col-md-4">
                                <select class="form-select" name="company" aria-label="Select 2">
                                    <option selected disabled>Select Company</option>
                                    {% for company in companies %}
                                    <option value="{{company.id}}">{{company.owner}}</option>
                                    {% endfor %}
                                  </select>
                        </div>
                        <div class="col col-md-4">
                            <select class="form-select" name="network" aria-label="Select 2">
                                <option selected disabled>Select network</option>
                                {% for network in networks %}
                                <option value="{{network.id}}">{{network.network}}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="col col-md-4">
                            <select class="form-select"  id="scan_case1" name="scan_case" aria-label="Select 2">
                                {% for scan in scan_cases %}
                                <option selected value="{{scan.name}}">{{scan.name}} </option>
                                {% endfor %}
                              </select>
                        </div>
                        </div>
                        <div class="row">
                          <select class="select2">
                            <option value="1">192.168.1.102</option>
                            <option value="2">192.168.1.103</option>
                            <option value="3">192.168.1.104</option>
                        </select>
                        </div>
                        <div>
                         
                        </div>
                     
                    </div>
                  </div>
                
           
              </div>
              <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Scan Case Two</h4>
                    </div>
                      <div class="card-body">
                        <div class="row">
                            <div class="col col-md-4">
  
                            <input type="text" class="form-control" id="compony_name" readonly placeholder="compony name" required> 
                            </div>
                            <div class="col col-md-4">
                               
                                
                                 <input type="text" class="form-control" id="network" readonly placeholder="Network" required>
                               
                            </div>
                            <div class="col col-md-4">
                                <select class="form-select" id="scan_case2"  name="scan_case" aria-label="Select 2">
                                    <option selected disabled>Select Scan Case</option>
                                    {% for scan in scan_cases %}
                                    <option value="{{scan.scan_date}}">{{scan.name}}/option>
                                    {% endfor %}
                                  </select>
                            </div>
                            </div>
                            <div class="row">
                              <select class="select2">
                                <option value="1">192.168.1.102</option>
                                <option value="2">192.168.1.103</option>
                                <option value="3">192.168.1.104</option>
                            </select>
                            </div>
                      </div>
                    </div>
                  </div>
           
              </div>
              <div class="row">
                <div class="col-4"></div>
        
                <div class="col-4">
             
                    <button class="btn btn-primary " id="btn_comp">Compare Now</button>
                    By: <select class="select" id="compare_by">
                      <option value="hosts">Hosts</option>
                      <option value="ports">Ports</option>
                    
                  </select>
                    <hr><br>
                    <table id="table_ports" class="table table-bordered" style="display: none;">
                      <thead>
                        <TR>
                          <td>Scan Date</td>
                          <td>Host</td>
                          <td>Result</td>
                        </TR>
                        <tbody>
                          <tr>
                            <td>may 10 2023</td>
                            <td>192.168.1.103</td>
                            <td>Had 240 ports</td>
                          </tr>
                          <tr>
                            <td>jun 14 2023</td>
                            <td>192.168.1.103</td>
                            <td>Had 246 ports</td>
                          </tr>
                        </tbody>
        
                        <tr>
                          <td>Defference: 6 ports added</td>
                        </tr>
                      </thead>
                    
                    </table>
                    <table id="table_hosts" class="table table-bordered" style="display: none;">
                      <thead>
                        <TR>
                          <td>Scan Date</td>
                          <td>Host</td>
                          <td>Result</td>
                        </TR>
                        <tbody>
                          <tr>
                            <td>may 10 2023</td>
                            <td>41.102.1.4</td>
                            <td>Had 120 Hosts</td>
                          </tr>
                          <tr>
                            <td>jun 10 2023</td>
                            <td>41.102.1.4</td>
                            <td>Had 124 Hosts</td>
                          </tr>
                        </tbody>
        
                        <tr>
                          <td>Defference: 4 hosts added</td>
                        </tr>
                      </thead>
                    
                    </table>
                    <h2 id="data"></h2>
                </div>
                <div class="col-4"></div>
              </div>
            </div>
          </div>
        </section>




   

        <!-- Setting Bar Sections -->
        {% include "includes/settingbar.html" %}        
        <!-- Ending Setting Bar Sections -->


      </div>

      <!-- Footbar Section -->
      {% include "includes/footer.html" %}
      <!-- EndFootbar Section -->

    </div>
  </div>




  <!-- General JS Scripts -->

  <!-- Scripts Section -->
  {% include "includes/scripts.html" %}
  
  <script src="{% static 'assets/scripts/pages/company.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


  <script>
    var onchang= false
    $(document).ready(function(){
      $('.select2').select2();

      $('#scan_case1').on('change',function(){     
        event.preventDefault();
        var filterDate = $(this).val();
        var date = new Date(filterDate);
        var year = date.getFullYear().toString();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        var formattedDate = year + '-' + month + '-' + day;
        console.log(formattedDate);
        $.ajax({
          type:'GET',
          url:'/compare_by_date/',
          data:{'FILTERED_DATE': formattedDate},
          success: function(data) {
            $('#accordion').append(data)
          }

        })

        // $.ajax({
        //   type: 'GET',
        //   url: '/compare_by_date/',
        //   beforeSend: function () {
        //     // Show the loading spinner before the request is sent
        //     // $('#loading-spinner').show();
        //   },
        //   data: { 'filter_date': formattedDate },
        //   success: function (response) {
        //     $('#accordion').append(response)
           
        //   },
        //   complete: function () {
        //     $('#loading-spinner').hide();
        //   }


        // });
      });
       
        
      compare_now();
      
   
    })

    function compare_now(){
      $('#btn_comp').click(function(){
        compare_by = $('#compare_by').val();
        if(compare_by == "ports"){
          $('#table_hosts').hide()
          $('#table_ports').show();
        }
        else if(compare_by == "hosts"){
          $('#table_ports').hide()
          $('#table_hosts').show()
        }
      });
    }

  </script>
  <!-- End Scripts Section -->
</body>



<!-- datatables.html  21 Nov 2019 03:55:25 GMT -->
</html>