 
    <!-- <div class="form-row"> -->
        <!-- <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                {% for company in dataCompany %}
                <option value="{{company.id}}">{{company.owner}}</option>
                {% endfor %}
            </select>
        </div> -->
        
<!-- 
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
            </select>
        </div>
         -->
    <!-- </div> -->

    <div class="form-group">
    <label>Filter by Keyword</label>
    <input type="text" class="form-control" id="search-box" placeholder="Search...">
    </div>


<div id="accordion">
   
    {% for data in records %}
    {% with num=forloop.counter|add:'1' %}
    <div class="accordion" id="my-data">
      <div class="accordion-header" role="button" data-toggle="collapse" data-target='#clo{{num}}'
        aria-expanded="true">
        <h4>{{forloop.counter}} - Host {{data.host}} - network: {{data.network}} - company- ({{data.company}}) - Total Ports-> - {{data.totalports}}</h4>
      </div>
      <div class="accordion-body collapse" id='clo{{num}}' data-parent="#accordion">
        {% for port in data.ports%}
        
        <p class="mb-0">port: {{port.port}} - protocol: {{port.protocol}} - State: {{port.state}}</p>
        {% endfor %}
      </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
  $('#search-box').keyup(function() {
    const searchTerm = $(this).val().toLowerCase();
    $('#my-data .accordion-header').filter(function() {
      const text = $(this).text().toLowerCase();
      const match = text.indexOf(searchTerm) > -1;
      $(this).toggle(match);
    });
  });
});
</script>