<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" >
  <script src="https://cdn.datatables.net"></script>
 <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
 </head>
<div class="container card-body">
  <div class="form-row">

    <div class="card-body">
      <div class="form-group col-md-4 ">
        <label>Filter by Keyword</label>
        <input type="text" class="form-control" id="search-box" placeholder="Search...">
      </div>
      <div id="accordion">

        {% for data in records %}
        {% with num=forloop.counter|add:'1' %}
        <div class="accordion" id="my-data">
          <div class="accordion-header" role="button" data-toggle="collapse"id="tbshow" data-target='#clo{{num}}'
            aria-expanded="true">
            <h4>{{forloop.counter}} - Host {{data.host}} - network: {{data.network}} - company- ({{data.company}}) - Total
              Ports-> - {{data.totalports}}</h4>
          </div>
          <div class="accordion-body collapse" id='clo{{num}}' data-parent="#accordion">

            <div class="table-responsive">
              <table class="table table-striped table-hover" id="save" style="width:100%;">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Port Number</th>
                    <th>State</th>
                    <th>protocol</th>
                    <th>Service</th>
                    <th>RPCinfo</th>
                    <th>version</th>
                  </tr>
                </thead>
                <tbody id="tbody_data">

                  {% for port in data.ports%}
                  <tr>
                    <td>{{port.id}}</td>

                    <td>{{port.port}}</td>
                    <td>{{ port.state }}</td>
                    <td>{{port.protocol}}</td>
                    <td>
                      <a href="" data-toggle="modal" data-target="#newCompany">Service</a>
                    </td>
                    <td>{{port.protocol}}</td>
                    <td>{{port.protocol}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            
          </div>
        </div>
        {% endwith %}
        {% endfor %}


      </div>
  </div>
 
</div>
</div>

<div class="modal fade" id="newCompany" tabindex="-1" role="dialog" aria-labelledby="companyRegister"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="companyRegister">Registeration Company</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}

        <form method="POST" id="registerForm">
          <div class="form-group">
            <label>Company Name</label>
            <input type="text" class="form-control" id="name" placeholder="Company name" required>

            <label>Description</label>
            <input type="text" class="form-control" id="description" placeholder="Company description" required>

            <label>ASN</label>
            <input type="text" class="form-control" id="asn" placeholder="Company ASN" required>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="btnSave" class="btn btn-primary">Save</button>

          </div>

        </form>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
   
    CallModal()
    $('#search-box').keyup(function () {
      const searchTerm = $(this).val().toLowerCase();
      $('#my-data .accordion-header').filter(function () {
        const text = $(this).text().toLowerCase();
        const match = text.indexOf(searchTerm) > -1;
        $(this).toggle(match);
      });


    });
    function CallModal() {
      $('#modalService').click(function (e) {
        e.preventDefault()
        $('#newCompany').modal('show')
      })
    }


    // $('#my-data .accordion-header').click(function(){
    //   $('#my-data .accordion-header').hide();
    // })

  });

$(document).ready(function () {
  $("#tbshow").click(function (){
    console.log("tbshow clicke");
    $('#save').DataTable();

  })
});

</script>
</html>