{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- datatables.html  21 Nov 2019 03:55:21 GMT -->
  <!-- Header Section -->
  {% include "includes/head.html" %}
  <!-- End Header Section -->

  <body class="dark dark-sidebar theme-black">
    <div class="loader dark"></div>

    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        <!-- Nav Bar Section  -->
        {% include "includes/nav.html" %}
        <!-- End Nav Bar Section -->

        <!-- Side Bar Section -->
        {% include "includes/sidebar.html" %}
        <!-- End Side Bar Section -->
        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="section-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h4 style="color: aquamarine;">Groups</h4>
                    </div>
                    <div class="card-body">
                     
                      <form class="form-inline" method="POST" id="group">
                        {% csrf_token %}
                        <div class="form-group mx-sm-3 mb-2">
                          
                          <input type="text" class="form-control" id="gname" name="gname" placeholder="Enter Group name">
                        </div>
                        <button type="submit" class="btn btn-success mb-2">Add</button>
                      </form>
                     
                      <div class="table-responsive">
                        <table
                          class="table"
                          id="tableExport"
                          style="width: 100%; color: aqua; font-size: medium;"
                        >
                          <thead>
                            <tr>
                              <th style="color: aquamarine;">#</th>
                              <th style="color: aquamarine;">Groups</th>
                              <th style="color: aquamarine;">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for group in groups %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{group.name}}</td>
                              <td>
                                <a class="btn btn-danger btn-sm delete-group" data-group_id="{{ group.id }}" >
                                 
                                  Delete
                                </a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Modal -->
          <div
            class="modal fade"
            id="newGroup"
            tabindex="-1"
            role="dialog"
            aria-labelledby="userRegister"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="userRegister">
                    Registeration User
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->

          <!-- Setting Bar Sections -->
          {% include "includes/settingbar.html" %}
          <!-- Ending Setting Bar Sections -->
        </div>

        <!-- Footbar Section -->
        {% include "includes/footer.html" %}
        <!-- EndFootbar Section -->
      </div>
    </div>

    <!-- General JS Scripts -->

    <!-- Scripts Section -->
    {% include "includes/scripts.html" %}
    <script src="{% static 'js/groups.js' %}"></script>
    <!-- End Scripts Section -->
  </body>
  {{ redirect_to_login_immediately }}
  <!-- datatables.html  21 Nov 2019 03:55:25 GMT -->
</html>
