{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- datatables.html  21 Nov 2019 03:55:21 GMT -->
<!-- Header Section -->
{% include "includes/head.html" %}
<!-- End Header Section -->

  <body class="dark dark-sidebar theme-black">
    <div class="loader dark"></div>


  
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>

           <!-- Nav Bar Section  -->
        {% include "includes/nav.html" %}
        <!-- End Nav Bar Section -->
        
        <!-- Side Bar Section -->
        {% include "includes/sidebar.html" %}        
        <!-- End Side Bar Section -->
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 style="color: aquamarine;" >All Available Networks :[{{totalNetworks}}]</h4>
                  </div>
                  <!-- Button trigger modal -->
                   
                  <div class="card-body">
                    {%if perms.main.add_network%}
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newRenter">
                        <i data-feather="user-plus"></i>
                    </button>
                    {%endif%}

                    <div class="table-responsive">
               
                      <table class="table" id="save-stage" style="width:100%; color: aqua;">
                        <thead>
                          <tr>
                            <th style="color: aquamarine;">#</th>
                            <th style="color: aquamarine;">Network</th>
                            <th style="color: aquamarine;">Owner</th>
                            <th style="color: aquamarine;">Description</th>
                            <th style="color: aquamarine;">Time</th>
                            <th style="color: aquamarine;">State</th>
                            <th style="color: aquamarine;">Action</th>
                          </tr>
                        </thead>
                        <tbody id="tbody_data">
                          
                          {% for network in networks %}
                              <tr>
                                <td>{{ network.id }}</td>
                                {% if perms.main.view_host%}
                                <td>
                                  <a href="{% url 'host' network.id %}" style="color: aqua;">{{ network.network }}</a>
                                </td>
                                {%else%}
                                <td>
                                  <a href="#">{{ network.network }}</a>
                                </td>
                                {%endif%}
                                <td>{{ network.compony_info}}</td>
                                <td>{{ network.description}}</td>
                                <td>{{ network.time}}</td>
                                {% if network.state == 'O' %}
                                    <td><span class="badge badge-success">Open</span></td>
                                    {% endif %}
                                {% if network.state == 'C' %}
                                    
                                    <td><span class="badge badge-danger">Close</span></td>
                                {% endif %}
                                {%if perms.main.change_network%}
                                <td>
                                  <a 
                                  class="btn btn-primary btn-sm networkEdit" 
                                  name="{{ network.id }}" 
                                  data-toggle="modal" 
                                 
                                  data-id="{{ network.id }}"
                                  data-network="{{ network.network }}"
                                  data-description="{{ network.description }}"
                                  data-state="{{ network.state }}"
                                  >
                                    <i data-feather="edit"></i>
                                  </a>
                                </td>
                                {%else%}
                                <td>
                                  <a 
                                  class="btn btn-primary btn-sm networkEdit disabled" 
                                  name="{{ network.id }}" 
                                  data-toggle="modal" 
                                 
                                  data-id="{{ network.id }}"
                                  data-network="{{ network.network }}"
                                  data-description="{{ network.description }}"
                                  data-state="{{ network.state }}"
                                  >
                                    <i data-feather="edit"></i>
                                  </a>
                                </td>
                                {%endif%}
                              </tr>
                          {% endfor %}
                        </tbody>

                      </table>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- Modal -->
        <div class="modal fade" id="newRenter" tabindex="-1" role="dialog" aria-labelledby="userRegister" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="userRegister">Registeration Network</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}

                  <form method="POST" id="registerForm">
                    <div class="form-group">
                      <label for="company">Company</label>
                      <select id="company" class="form-control" required>
                        <option value="">Select ......</option>
                        {% for company in companyData %}
                            <option value="{{company.id}}">{{company.owner}} - ({{company.asn}})</option>
                        {% endfor %}
                      </select><br>

                      <label for="network">Network</label>
                      <input type="text" class="form-control" id="network" required><br>
    
                      <label for="state">State</label>
                      <select id="state" class="form-control" required>
                        <option value="">State </option>
                        <option value="O">Up</option>
                        <option value="C">Down</option>
                      </select><br>

                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" required cols="30" rows="10"></textarea>
                      <!-- <input type="text" class="form-control" id="description" required maxlength="200000" name="description"> -->

                    
                    </div>

                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="btnSave" class="btn btn-primary">Save</button>                  
          
                    </div>

                  </form>

                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
              </div>
            </div>
          </div>
        <!-- End Modal -->


         <!-- Modal -->
         <div class="modal fade" id="updateNetwork" tabindex="-1" role="dialog" aria-labelledby="userRegister" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="userRegister">Update Network {{ network.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% csrf_token %}

                <form method="POST" id="UpdateForm">
                  <div class="form-group">
                    <!-- <label for="company">Company</label> -->
                    <select hidden disabled id="company" class="form-control" required>            
                          <option selected value="{{companyID}}">{{companyName}}</option>
                     
                    </select>
                    <br>

                    <label for="network">Network</label>
                    <input type="text" class="form-control" id="unetwork" required><br>
  
                    <label for="state">State</label>
                    <select id="ustate" class="form-control" required>
                      <option value="">State </option>
                      <option value="O">Up</option>
                      <option value="C">Down</option>
                    </select><br>

                    <label for="description">Description</label>
                    <textarea class="form-control" id="udescription" required cols="30" rows="10"></textarea>
                    <!-- <input type="text" class="form-control" id="description" required maxlength="200000" name="description"> -->

                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnUpdate" class="btn btn-primary">Save</button>                  
        
                  </div>

                </form>

              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
            </div>
          </div>
        </div>
      <!-- End Modal -->

        <!-- Setting Bar Sections -->
        {% include "includes/settingbar.html" %}        
        <!-- Ending Setting Bar Sections -->


      </div>

      <!-- Footbar Section -->
      {% include "includes/footer.html" %}
      <!-- EndFootbar Section -->

    </div>
  </div>




  <!-- General JS Scripts -->

  <!-- Scripts Section -->
  {% include "includes/scripts.html" %}
  
  <script src="{% static 'assets/scripts/pages/network.js' %}"></script>
  <!-- End Scripts Section -->
</body>

{{ redirect_to_login_immediately }}
<!-- datatables.html  21 Nov 2019 03:55:25 GMT -->
</html>