<!DOCTYPE html>
<html lang="en">


<!-- datatables.html  21 Nov 2019 03:55:21 GMT -->
<!-- Header Section -->
{% include "includes/head.html" %}
<!-- End Header Section -->

<body>
  <div class="loader"></div>



  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>

      <!-- Nav Bar Section  -->
      {% include "includes/nav.html" %}
      <!-- End Nav Bar Section -->

      <!-- Side Bar Section -->
      {% include "includes/sidebar.html" %}
      <!-- End Side Bar Section -->
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Scan Case Reports</h4>
                  </div>
                  <!-- Button trigger modal -->

                  <div class="card-body">
                    <!-- Create a form with a date input -->

                    <!-- <form class="form-inline" method="POST" id="group">
                        <div class="form-group mx-sm-3 mb-2">
                          
                          <input type="text" class="form-control" id="gname" name="gname" placeholder="Enter Group name">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Add</button>
                      </form> -->

                    <form class="form-inline" id="filter-form">
                      <label for="filter-date">Filter by Scan Casess:</label><br>
                      {% csrf_token %}
                      <div class="form-group mx-sm-3">
                        <select id="filter-date" class="form-control" required>
                          {% for scan in scan_cases %}
                          <option selected value="{{scan.scan_date}}">{{scan.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <button class="btn btn-info btn-sm" type="submit">Search</button>


                    </form>

                    <!-- Display the filtered records -->
                    <div id="record-list">
                    </div>

                    <div id="loading-spinner" style="display:none">
                      <i class="fa fa-spinner fa-spin"></i> Loading...
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </section>


        <!-- Modal -->
        <div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="userRegister"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="userRegister">Registeration User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->

        <!-- Setting Bar Sections -->
        {% include "includes/settingbar.html" %}
        <!-- Ending Setting Bar Sections -->


        <div id="accordion">
          
        </div>
      </div>

      <!-- Footbar Section -->
      {% include "includes/footer.html" %}
      <!-- EndFootbar Section -->

    </div>
  </div>




  <!-- General JS Scripts -->

  <!-- Scripts Section -->
  {% include "includes/scripts.html" %}

  <script>
    $(document).ready(function () {
      $('#save').DataTable();
      $('.listRecord').hide()
      $('#filter-form').submit(function (event) {
        event.preventDefault();
        var filterDate = $('#filter-date').val();
        var date = new Date(filterDate);
        var year = date.getFullYear().toString();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        var formattedDate = year + '-' + month + '-' + day;
        console.log(formattedDate);
        $.ajax({
          type: 'GET',
          url: '/filter_by_date/',
          beforeSend: function () {
            // Show the loading spinner before the request is sent
            $('#loading-spinner').show();
          },
          data: { 'filter_date': formattedDate },
          success: function (response) {
            $('#accordion').append(response)
            // var accordion = $('#accordion');
            // $('#record-list').empty();
            // $.each(response.records, function(index, record) {
            //   var network_list = ''

            //   network_list+= '<li>' + record.network + '</li>';

            //   var category_html = '<div class="card"><div class="card-header" id="heading' + category.id + '"><h5 class="mb-0"><button class="btn btn-link" data-toggle="collapse" data-target="#collapse' + category.id + '" aria-expanded="true" aria-controls="collapse' + category.id + '">' + category.name + '</button></h5></div><div id="collapse' + category.id + '" class="collapse" aria-labelledby="heading' + category.id + '" data-parent="#accordion"><div class="card-body"><ul>' + products_list + '</ul></div></div></div>';
            // accordion.append(category_html);
            //   // $('.listRecord').show()
            //   // $('#networkstitle').text(record.network + " - " + record.company)
            //   // $('#hostsData').text(record.host)
            //   // index = index+1
            //   // var item = $('<li>').text(index+ ' '+'host'+' | ' +record.host + ' network'+' | ' +record.network +' company'+' | '+record.company);

            //   // $('#record-list').append(item);
            // });
          },
          complete: function () {
            $('#loading-spinner').hide();
          }


        });
        $('#accordion').html('')
      });
    
    });










  </script>
  <!-- End Scripts Section -->
</body>


<!-- datatables.html  21 Nov 2019 03:55:25 GMT -->

</html>