
          <div class="accordion-body collapse getingPorts" id='clo{{num}}' data-parent="#accordion3">

            <div class="table-responsive" id="tableResult">
                <h4>TEst Table</h4>
              <table class="table" id="save" style="width:100%; color: antiquewhite;">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Port Number</th>
                    <th>State</th>
                    <th>protocol</th>
                    <th>Service</th>
                    <th>RPCinfo</th>
                    <th>version</th>
                  </tr>
                </thead>
                <tbody id="tbody_data">

                  {% for port in data.ports%}
                  <tr>
                    <td>{{port.id}}</td>

                    <td>{{port.port}}</td>
                    <td>{{ port.state }}</td>
                    <td>{{port.protocol}}</td>
                    <td>
                      <a id="ser" href="" data-toggle="modal" data-service="{{port.service}}" data-id={{port.id}} data-target="#newCompany">Service</a>
                    </td>
                    <td>{{port.protocol}}</td>
                    <td>{{port.protocol}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            
          </div>

<div class="modal fade" id="newCompany" tabindex="-1" role="dialog" aria-labelledby="companyRegister"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="companyRegister">Registeration Company</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
    
          <form method="POST" id="updatecase"> {% csrf_token %}
            <div class="container">
              <div class="row">
                <input type="text" hidden id="uid" name="p" class="form-control" aria-describedby="">

                <label for="">Name</label>
                <input type="text" id="uname" readonly name="case_name" class="form-control" aria-describedby="" required>

              </div>
              <br>
              <div class="row">
                <label for="">Method</label>
                <input type="text" id="method" readonly name="case_type" class="form-control" aria-describedby="" required>

              </div><br>

             
              <div class="row">
                <label for="">Conf</label>
                <input type="text" id="conf" readonly name="device_type" class="form-control" aria-describedby=""  required>
                
              </div><br>
              <br>  
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">
                  Close
                </button>
                <button type="submit" class="btn btn-primary" id="savebutton">
                  Save changes
                </button>
              </div>
          </form>
        </div>
    

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    // dispalyTable();
    

    CallModal()
    $('#search-box .accordion-header').keyup(function () {
      const searchTerm = $(this).val().toLowerCase();
      $('#my-data').filter(function () {
        const text = $(this).text().toLowerCase();
        const match = text.indexOf(searchTerm) > -1;
        $(this).toggle(match);
      });
    });
    function CallModal() {
      $('#modalService').click(function (e) {
        e.preventDefault()
        $('#newCompany').modal('show')
      })
    }

    $("h4").click(function () {
      $('#ser').mouseenter(function () {
      $('#newCompany').modal('show')
      var id = $(this).data('id')
      console.log(id)
      var service = $(this).data('service');
      sr=service.split(",")
      $("#uname").val(sr[0])
      $("#method").val(sr[1])
      $("#conf").val(sr[2])
      // console.log(sr[0],sr[1],sr[2])
      $.ajax({
        url: '/getport_service/',
        type: "GET",
        data: {
          id: id,
         
        },

        success: function (data) {

          console.log(data);

        },
        error: function (data) {

         
          console.log("error", data);
          swal({
              title: "Error !",
              text: "There was an error: "+data,
              icon: "error",
              timer: 4000, // time in milliseconds
              timerProgressBar: true,
              showConfirmButton: false
          })
        }
      })



    })
      
    })


  });

  
function getTable(){
  $('#save').DataTable();
}

$("#tbshow").click(function (){
 getTable();

  })


function dispalyTable(){
    $(".getHost").click(function(){
        var host = $(this).data("value");
        $.ajax({
            url:'/get_Hosts/',
            type: "GET",
            data : {
                'host': host
            },
            success: function(response){
                // console.log(response);
            }
        })

        
    })
}

</script>
{{ redirect_to_login_immediately }}
</html>