{% load static %}
<!DOCTYPE html
<html lang="en">

  {% include "includes/head.html" %}

 <div class="container card-body">
  <div class="form-row">
    <!--TABLE 1 -->
    <div>

      <button class="btn btn-info " id="bt">Show Common</button>
      <button class="btn btn-info " id="bt_2">Go Back</button>
    </div>
    
    <div class="form-group col-md-12 ">
        <h1 style="color: aquamarine;" id="tbh_1" >{% if not records %}No Difference {% else %}Here Is Different Result {{records.hostDate}} {% endif %}</h1>
        <div id="accordion3">

          
            <div class="table-responsive">
                        

    <table class="table table-bordered my-table tbl1"   style="width:100%;color: aqua; text-transform: uppercase;">
        <thead>
          <tr>
           
            <th scope="col" style="color: aquamarine;">#</th>
            <th scope="col" style="color: aquamarine;">Host</th>
            <th scope="col" style="color: aquamarine;">status</th>
          </tr>
        </thead>
        <tbody id="tbody_data">
            {% for data in records %}
            {% with num=forloop.counter|add:'1' %}
            
          <tr style="cursor: pointer;" onclick="toggleRow('{{num}}');">
              <th scope="row" >{{forloop.counter}}</th>
              <th scope="row">
                <span  style="font-size: medium;" > {{data.hostname}} - 
                </span>
                  <span style="font-size: medium; text-transform: uppercase;">

                    Messages - 
                    
                   <span style="color: aquamarine;">Total Ports: <b>{{data.totalports}}</b> </span> -   
                   <span style="color: green;">Open ports {{data.openPort}}</b> </span> - 
                   <span style="color: red;">close ports: {{data.closePort}}</b> </span> - 
                   <span style="color: orange;">filtered ports: {{data.filteredPort}}</b> </span> - 
                   <span style="color: white;">Scan Date: {{data.hostDate}}</b> </span>
                  
                </span>
                </th>
              <th scope="row">{{data.status}}</th>
          </tr>
          <tr id="{{num}}" style="display:none;">
            <td></td>
            <td>
              <center>

                <span style="font-size: medium;">
                  <b> Company : {{data.company}} network: {{data.network}} </b>
                </span><br><br>
              </center>


                {% for port in data.port %}
                {% with num=forloop.counter|add:'1' %}
                <div class="row">
                <div class="col-12 col-md-6 col-lg-3" style="color: aquamarine;">
                       
                    <span style="cursor: pointer; text-align: center; color: aqua;" >
                         <b> Port {{forloop.counter}} </b>
                    </span><br>
                    <span>Port      : {{port.port}}</span><br>
                    {% if port.state == 'filtered' %}
                    <span>State     : <span style="color: orange;"> <b>{{port.state}}</b> </span></span><br>
                    {% elif port.state == 'open' %}
                    <span>State     : <span style="color: green;"> <b>{{port.state}}</b> </span></span><br>
                    {% elif port.state == 'closed' %}
                    <span>State     : <span style="color: red;"> <b>{{port.state}}</b>  </span></span><br>
                    {% endif %}
                    <span>Protocol  : {{port.protocol}}</span><br>
                    <span>Reason  : {{port.reason}}</span><br><br>
                </div>
                
                <div class="col-12 col-md-6 col-lg-9">

                  {% for ppt in port.services.all %}
                
                <span style="cursor: pointer; text-align: center;">
                  <span>{{ppt.key}}   :    </span>
                  <span style="text-transform: none;">{{ppt.value}}</span><br>
                  
                </span>
                {% endfor %}
                <hr>
                    
                    
            
             
                </div>



                
                </div>

                    {% endwith %}
                    {% endfor %}
                    
                </td>
             
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    
      </table>

  </div>

          <div class="pagination  pagination_1" style="justify-content: center; justify-items: center;">

            <nav aria-label="Page navigation example">

                <ul class="pagination">
                    {% if records.has_previous %}
                  <li class="page-item"><a class="page-link" href="1"> <b> &laquo; </b></a></li>
                  <li class="page-item"><a class="page-link" href="{{ records.previous_page_number }}"> <b> &lsaquo; </b></a></li><br>
                  {% endif %}

                  <li class="page-item"> <span class="badge"> Page {{ records.number }} of {{ records.paginator.num_pages }} </span></li>
                  
                  {% if records.has_next %}
                  <li class="page-item"><a class="page-link" href="{{ records.next_page_number }}"> <b> &rsaquo; </b></a></li>
                  <li class="page-item"><a class="page-link" href="{{ records.paginator.num_pages }}"> <b> &raquo; </b></a></li>
                  {% endif %}
                </ul>
              </nav>
        </div>

          
        <!-------TABLE 2 FOR PORTS-->
      
        </div>
       
      </div>
      

<!--------------------comman-------------------------------->
<div class="form-group col-md-12 ">
        <h1 style="color: aquamarine;" id="tbh_2" >{% if not records %}Here is The Common {% else %}No Common {{records.hostDate}} {% endif %}</h1>
        <div id="accordion3">

          
            <div class="table-responsive">
                        

    <table class="table table-bordered my-table tbl2"    style="width:100%;color: aqua; text-transform: uppercase;">
        <thead>
          <tr>
           
            <th scope="col" style="color: aquamarine;">#</th>
            <th scope="col" style="color: aquamarine;">Host</th>
            <th scope="col" style="color: aquamarine;">status</th>
          </tr>
        </thead>
        <tbody id="tbody_data">
            {% regroup comman_ports by hostname as grouped_students %}
            {% for data in grouped_students %}
            {% with num=forloop.counter|add:'1' %}
            
            
          <tr style="cursor: pointer;" onclick="toggleRow('{{num}}');">
              <th scope="row" >{{forloop.counter}}</th>
              <th scope="row">
                {% for value in data.list %}
                {% ifchanged data.grouper %}
                <span  style="font-size: medium;" > {{data.grouper}} - This Ip Has Different Ports 
                </span>
                {% endifchanged %}
      
                <span style="font-size: medium; text-transform: uppercase;">
                  
                  <!-- Messages -  -->
                  
                  <!-- <span style="color: aquamarine;">Total Ports: <b>{{value.totalports}}</b> </span> -   
                  <span style="color: green;">Open ports {{value.openPort}}</b> </span> - 
                  <span style="color: red;">close ports: {{value.closePort}}</b> </span> - 
                  <span style="color: orange;">filtered ports: {{value.filteredPort}}</b> </span> - 
                  <span style="color: white;">Scan Date: {{value.hostDate}}</b> </span> -->
                  
                </span>
                
                {% endfor %}
              </th>
              <th scope="row">{{value.status}}</th>
          </tr>
          <tr id="{{num}}" style="display:none;">
            <td></td>
            <td>
              {% for value in data.list %}
              <center>
                <hr>

                <span style="font-size: medium;">
                  <b style="color: white;"> Company : {{value.company}} network: {{value.network}} </b><br>
                  <span style="color: aquamarine;"><b> Total Ports: {{value.totalports}}</b> </span> -   
                  <span style="color: green;"><b> Open ports {{value.openPort}}</b> </span> - 
                  <span style="color: red;"><b> close ports: {{value.closePort}}</b> </span> - 
                  <span style="color: orange;"><b> filtered ports: {{value.filteredPort}}</b> </span> - 
                  <span style="color: white;"><b> Scan Date: {{value.hostDate}}</b> </span>
                </span><br><br>
              </center>

              
                {% for port in value.port %}
                {% with num=forloop.counter|add:'1' %}
                <div class="row">
                <div class="col-3" style="color: aquamarine;">
                       
                    <span style="cursor: pointer; text-align: center; color: aqua;" >
                         <b> Port {{forloop.counter}} </b>
                    </span><br>
                    <span>Port      : {{port.port}}</span><br>
                    {% if port.state == 'filtered' %}
                    <span>State     : <span style="color: orange;"> <b>{{port.state}}</b> </span></span><br>
                    {% elif port.state == 'open' %}
                    <span>State     : <span style="color: green;"> <b>{{port.state}}</b> </span></span><br>
                    {% elif port.state == 'closed' %}
                    <span>State     : <span style="color: red;"> <b>{{port.state}}</b>  </span></span><br>
                    {% endif %}
                    <span>Protocol  : {{port.protocol}}</span><br>
                    <span>Reason  : {{port.reason}}</span><br><br>
                </div>
                
                <div class="col-9">

                  {% for ppt in port.services.all %}
                
                <span style="cursor: pointer; text-align: center;">
                  <span>{{ppt.key}}   :    </span>
                  <span style="text-transform: none;">{{ppt.value}}</span><br>
                  
                </span>
                {% endfor %}
                <hr>
                    
                    
            
             
                </div>



                
                </div>

                    {% endwith %}
                    {% endfor %}
                    
                    {% endfor %}
                </td>
                
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    
      </table>

  </div>

          <div class="pagination pagination_2" style="justify-content: center; justify-items: center;">

            <nav aria-label="Page navigation example">

                <ul class="pagination">
                    {% if comman_ports.has_previous %}
                  <li class="page-item"><a class="page-link" href="1"> <b> &laquo; </b></a></li>
                  <li class="page-item"><a class="page-link" href="{{ comman_ports.previous_page_number }}"> <b> &lsaquo; </b></a></li><br>
                  {% endif %}

                  <li class="page-item"> <span class="badge"> Page {{ comman_ports.number }} of {{ comman_ports.paginator.num_pages }} </span></li>
                  
                  {% if comman_ports.has_next %}
                  <li class="page-item"><a class="page-link" href="{{ comman_ports.next_page_number }}"> <b> &rsaquo; </b></a></li>
                  <li class="page-item"><a class="page-link" href="{{ comman_ports.paginator.num_pages }}"> <b> &raquo; </b></a></li>
                  {% endif %}
                </ul>
              </nav>
        </div>

          
        <!-------TABLE 2 FOR PORTS-->
      
        </div>
       
      </div> 
      

</div>

{% include "includes/scripts.html" %}
<script>
   $(document).ready(function(){
    paginate()
    $('.tbl2').hide();
    $('#tbh_2').hide();
    $('.pagination_2').hide();
    $('#bt_2').hide();


    $('#bt').click(function(){
      $('.tbl1').hide();
      $('.tbl2').show();
      $('#tbh_1').hide()
      $('#tbh_2').show()
      $('.pagination_1').hide();
      $('.pagination_2').show();
      $(this).hide();
      $('#bt_2').show();

    });

    $('#bt_2').click(function(){

      $('.tbl1').show();
      $('.tbl2').hide();
      $('#tbh_1').show()
      $('#tbh_2').hide()
      $('.pagination_1').show();
      $('.pagination_2').hide();
      $(this).hide();
      $('#bt').show();
      

   })

  })
  function paginate(){
  $('.pagination li a').click(function(e){
    e.preventDefault()
    page = $(this).attr('href')
    var scan_case_id1 = $("#scan_case1").val();
    var scan_case_id2 = $("#scan_case2").val();
    console.log(scan_case_id1,scan_case_id2)
    var network = $('#network').val()

    $.ajax({
            url: '/compare_by_date/',
            data: {
              "page":page,
              'FILTERED_DATE1':scan_case_id1,
              'FILTERED_DATE2': scan_case_id2,
              'network':"{{network}}"
            },
            success: function(response) {
                $('#accordion3').empty()
                $('#accordion3').append(response)
            }
        });
  })
}
          // Define the number of items to display per page
          function searchTable($table, query) {
    $table.find('tbody tr').each(function() {
      var found = false;
      $(this).find('td').each(function() {
        var text = $(this).text().toLowerCase();
        if (text.indexOf(query) !== -1) {
          found = true;
          return false;
        } else if ($(this).find('table').length > 0) {
          if (searchTable($(this).find('table'), query)) {
            found = true;
            return false;
          }
        }
      });
      if (found) {
          
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  }
  
  $('#search-input').on('keyup', function() {
    var searchTerm = $(this).val().toLowerCase();
    searchTable($('.my-table'), searchTerm);
  });
  
  function toggleRow(row) {
      var x = document.getElementById(row);
      if (x.style.display === "none") {
        x.style.display = "table-row";
      } else {
        x.style.display = "none";
      }
    }
  function servicetoggleRow(row) {
      var x = document.getElementById(row);
      if (x.style.display === "none") {
        x.style.display = "table-row";
      } else {
        x.style.display = "none";
      }
    }
</script>

</html>